<nav>
    <a href="/">
    <img alt ="homeLogo" class="navMenu" src="images/homeLogo.png"></a>
    <a href="/about">
    <img alt ="aboutLogo" class="navMenu" src="images/aboutLogo.png"></a>
    <a href="/projects">
    <img alt ="projectsLogo" class="navMenu" src="images/projectsLogo.png"></a>
    <a href="/services">
    <img alt ="Services" class="navMenu" src="images/servicesLogo.png"></a>
    <a href="/contact">
    <img alt ="contactsLogo" class="navMenu" src="images/contactsLogo.png"></a>
</nav>