<% include partials/header.ejs %>

<% include partials/nav.ejs %>

<!DOCTYPE html>
<html>
  <head>
    <title>title</title>
    <link rel='stylesheet' href='stylesheets/style.css' />
  </head>
  <body>
    <h2>Name: Yada Brown<br> I am a college student studying software engineering
      I enjoy leanring drawing and going to the gym I am excited to develop my skills!</h2>
    <div class="container">
      <div class="box">
        <a href="/PDF/Yada_resume.pdf" target="_blank">
          <button type="button">My Resume</button>
      </a>
        <div class="aboutContent">
          <img src="images/photo.jpg" alt="professionalPhoto" style="width: 300px; height: 300px;">
        </div>
    </div>
  </body>
</html>
