<% include partials/header.ejs %>

<% include partials/nav.ejs %>

<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='stylesheets/style.css' class="logoPosition">
  <body>
    <div class="container">
      <div class="box">
        <div class="icon"><img src="images/infoButton.png" class="circle" style="width: 90px; height: 90px;"></div>
        <div class="content">
          <h3><b>Misson Statement</b></h3>
          <p>      
As a software engineering student in college, 
my mission is to master cutting-edge technologies and methodologies.
 I am dedicated to cultivating a strong foundation in software development, 
 system design, and project management. Through continuous learning and real-world projects, 
 I aim to contribute innovatively to the field and prepare for a future career making a positive impact in technology.
          </p>
        </div>
    </div>
  </body>
</html>
