<% include partials/header.ejs %>

<% include partials/nav.ejs %>

<!DOCTYPE html>
<html>
  <head>
    <title>title</title>
    <link rel='stylesheet' href='stylesheets/style.css' />
  </head>
  <body>
      <div class="projectsContent">
        <div class="serviceBox"><img alt ="ProjectOne" src="images/projectOne.png" style="width: 300px; height: 300px;">
          <caption>Professional Realtor Website design, created using CSS and HTML in 2023</caption>
      </div>

      <div class="projectsContentTwo">
        <div class="serviceBoxTwo"><img alt ="ProjectTwo" src="images/projectTwo.png" style="width: 300px; height: 300px;">
          <caption>Word guessing game in javascript, HTML, and CSS that creates a random four letter word and that word is guessd</caption>
      </div>

      <div class="projectsContentThree">
        <div class="serviceBoxThree"><img alt ="ProjectThree"  src="images/projectThree.png" style="width: 300px; height: 300px;">
          <caption>Form application built using C# includes a login page and computes the cost of a number of books</caption>
      </div>
  </body>
</html>
