<% include partials/header.ejs %>

<% include partials/nav.ejs %>

<!DOCTYPE html>
<html>
  <head>
    <title>title</title>
    <link rel='stylesheet' href='stylesheets/style.css' />
  </head>
  <body>
    <div class="slideIn">
      <div class="serviceContent">
        <div class="serviceBox"><img alt ="homeLogo" class="serviceMenuOne" src="images/serviceOne.png" style="width: 90px; height: 90px;">
          <h6>I am actively acquiring proficiency in Node.js and Express, demonstrating a growing ability to build. 
            I am committed to expanding my knowledge in creating efficient and responsive web services.</h6>
      </div>
    </div>
    <div class="slideInTwo">
      <div class="serviceContentTwo">
        <div class="serviceBoxTwo"><img alt ="homeLogo" class="serviceMenuTwo" src="images/serviceTwo.png" style="width: 90px; height: 90px;">
          <h6>I am adept at crafting responsive and visually appealing web solutions, 
            With a keen eye for design and a commitment to code quality, 
            this student brings a creative and technically sound approach to web development projects.</h6>
      </div>
    </div>
    <div class="slideInThree">
      <div class="serviceContentThree">
        <div class="serviceBoxThree"><img alt ="homeLogo" class="serviceMenuThree" src="images/serviceThree.png" style="width: 90px; height: 90px;">
          <h6> proficient in CSS and JavaScript, 
            showcasing a talent for crafting visually engaging and interactive web experiences. 
            With a solid understanding of front-end development.</h6>
      </div>
    </div>
  </body>
</html>
